/* ---------------- */  
/* Standard Globals */
/* ---------------- */
html body {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(to bottom right, gray, black);
    backdrop-filter: blur(100px);
    background-size: 100% 100%;
}

main {
  height: 100%;
}

.row {
    margin: 0;
    height: 100%;
}

.mainCol {
    height: 100%;
    justify-content: center;
    display: flex;
}

.mainContent {
    position: relative;
    height: 100%;
    width:100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mainContent::-webkit-scrollbar {
  display: none;
}

#__next {
    height: 100%;
}

.Toastify__toast--default {
    width: 100%;
    backdrop-filter: blur(10px);
    font-family: 'Montserrat', sans-serif;
    background-color: #000 !important;
    opacity: 0.8;
    text-align: center;
}

.Toastify__toast-container {
   position: relative !important;
}

button:focus {
    outline: none;
    shadow: 5px 5px black;
}

/* ------------------------- */
/* emoji-picker react styles */
/* ------------------------- */
.emoji-picker-react {
    width: auto !important;
    height: 90% !important;
    box-shadow: none !important;
    background: transparent !important;
    border: none !important;
    margin: 10px !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.emoji-picker-react::-webkit-scrollbar {
  display: none;
}

.emoji-scroll-wrapper {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.emoji-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.emoji-picker-react .emoji-group:before { 
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 0 10px !important;
    border-radius: 5px !important;
}

aside.emoji-picker-react .content-wrapper::before {
    margin-right: 10px !important;
}

/* ---------- */
/* animations */
/* ---------- */

.player-north {
    animation-duration: .5s;
    animation-name: slide-north;
}
  
@keyframes slide-north {
    50% {
      margin-top: 100%;
      opacity: 0;
    }
    
    51% {
      margin-top: -100%;
      opacity: 0;
    }
  
    100% {
      margin-top: 0%;
    }
}
  
  
  
.player-south {
    animation-duration: .5s;
    animation-name: slide-south;  
}
  
@keyframes slide-south {
    50% {
      margin-top: -100%;
      opacity: 0;
    }
    
    51% {
      margin-top: 100%;
      opacity: 0;
    }
  
    100% {
      margin-top: 0%;
    }
}
  
.player-east {
    animation-duration: .5s;
    animation-name: slide-east;
}
  
@keyframes slide-east {
    50% {
      margin-left: -100%;
      opacity: 0;
    }
    
    51% {
      margin-left: 100%;
      opacity: 0;
    }
  
    100% {
      margin-left: 0%;
    }
}
  
.player-west {
    animation-duration: .5s;
    animation-name: slide-west;
}
  
@keyframes slide-west {
    50% {
      margin-left: 100%;
      opacity: 0;
    }
    
    51% {
      margin-left: -100%;
      opacity: 0;
    }
  
    100% {
      margin-left: 0%;
    }
}