.logo {
    max-width: 100%;
    max-height: 20%;
    margin-top: 1rem;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
}

.instructions {
    color: white;
    margin-top: 2rem;
}

.homeEmojis {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    font-size: 40px;
    color: white;
}

.startButton {
    width: 75%;
    height: 100px;
    border-radius: 50px;
    border: none;
    font-size: 30px;
    margin: 150px auto;
    display: block;
    color: white;
    background-image: linear-gradient(to right, #5B214F , #C25178);
}



.instructions * {
    text-align: center;
}

.directionWrapper {
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: .5rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.directionWrapper p {
    position: absolute;
    margin: 0;
}

.block p {
    font-size: 30px;
}

.directionWrapper .center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.directionWrapper .up {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.directionWrapper .down {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.directionWrapper .right {
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.directionWrapper .left {
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.block {
    margin-bottom: 200px;
}

label.form-label {
    color: white;
    margin-top: 1rem;
}

#addSubmit {
    margin: 2rem auto;
    width: 100%;
    height: 100px;
    border-radius: 50px;
    border: none;
    font-size: 30px;
    color: white;
    background-image: linear-gradient(to right, #5B214F , #C25178);
}
